@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Space Grotesk", sans-serif;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.navigation-link a {
  color: inherit;
}
.navigation-bar {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.navigation-links ul {
  display: flex;
  gap: 16px;
}

/* Hero section */
.hero-section {
  min-height: 400px;
  display: flex;
  align-items: center;
}

@keyframes slideInTop {
  from {
    transform: translateY(150px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.hero-section h1 {
  font-size: 62px;

  /* transform: rotate(30deg); */
  /* transform: translateX(-100px); */
  /* transform: scale(0.5); */

  /* transition-property: transform color;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear; */

  animation-name: slideInTop;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  animation-direction: normal;
  animation-direction: alternate;
  animation-direction: reverse;
  animation-direction: alternate-reverse;
  animation-direction: normal;

  /* original - from - to - original */
  /* animation-fill-mode: none; */
  /* original - from - to */
  /* animation-fill-mode: forwards; */
  /* from - to - original */
  /* animation-fill-mode: backwards; */
  /* from - to */
  animation-fill-mode: both;
  margin-bottom: 32px;
}
.underline {
  border-bottom: 4px solid lightgreen;
}

/* .hero-section h1:hover {
  transform: translateX(50px);
  color: lightgreen;
} */

/* @media (width >= 600px) {
  body {
    background-color: red;
  }
}

@media (width >= 800px) {
  body {
    background-color: green;
  }
} */

/* @media (600px <= width <= 800px) {
  body {
    background-color: red;
  }
} */

.hero-section p {
  font-size: 18px;
  width: 420px;
  margin-bottom: 32px;
}

.hero-section button {
  background-color: transparent;
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid lightgreen;
}